[submodule "vendor/flashinfer"]
	path = vendor/flashinfer
	url = git@github.com:koush/flashinfer.git
	branch = main
[submodule "vendor/huggingface.js"]
	path = vendor/huggingface.js
	url = https://github.com/koush/huggingface.js
[submodule "vendor/transformers.js"]
	path = vendor/transformers.js
	url = https://github.com/koush/transformers.js
