[submodule "vendor/flashinfer"]
	path = vendor/flashinfer
	url = https://github.com/flashinfer-ai/flashinfer.git
[submodule "vendor/huggingface.js"]
	path = vendor/huggingface.js
	url = https://github.com/koush/huggingface.js
[submodule "vendor/transformers.js"]
	path = vendor/transformers.js
	url = https://github.com/huggingface/transformers.js
